.style1
                {
                    width: 101px;
                }
                .style2
                {
                    width: 444px;
                }
                .style3
                {
                    width: 101px;
                    height: 32px;
                }
                .style4
                {
                    width: 444px;
                    height: 32px;
                }